.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.2s, transform 0.2s;
}

.header a:hover {
  color: #6da0ec;
  transform: scale(1.01);
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navigation li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.2s, transform 0.2s;
}
.navigation li a:hover {
  color: #6da0ec;
  
}