.app {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
  flex: 1;
}

.toolbar {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.button {
  padding: 6px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #0b5ed7;
}

.createLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 16px;
  border-radius: 6px;

  background-color:#0d6efd;
  color: #ffffff;

  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  transition: background-color 0.2s ease, transform 0.1s ease;
}

.createLink:hover {
  background-color: #0b5ed7;
}

.createLink:active {
  transform: translateY(1px);
}